 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font: normal 12px "Segoe UI", Arial, Sans-serif;
}

.css-selector {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 6px;
}

.css-selector button {
  vertical-align: middle;
  margin-bottom: 12px;
  width:100%;
}

.css-selector fieldset {
  margin-bottom: 12px;
  border: 1px solid #D6D9DC;
  overflow-x: hidden;
  overflow-y: scroll;
}

.css-selector fieldset legend {
  font-weight: 700;
  margin-bottom: 3px;
}

.css-selector fieldset input[type='checkbox'] {
  transform: scale(0.8);
  margin: 0 3px 0 3px;
  vertical-align: middle;
}
